/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  padding: 24px;
  list-style: none;
}

.gallery-item {
  width: 360px;
  /* або calc */
  border: 1px solid #808080;
}

.gallery-image {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.info {
  display: flex;
  padding: 4px;
}

.info-item {
  flex-grow: 1;
  text-align: center;
  font-size: 12px;
}

.is-hidden {
  display: none;
}